* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: #575756;
  font-size: 20px;
  line-height: 1.6em;
}

.editable-content {
  padding: 0 10px;
}

.editable-content:focus {
  background: rgba(0,0,0,0.4);
}

.editable-content:empty {
  background: rgba(0,0,0,0.4);
}

.editable-content:empty:after {
  content: '[ ]'
}