.hero-wrapper {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-title {
  text-align: center;
  font-family: lato;
}

.hero-title h1 {
  line-height: 1em;
  color: #ffc0c2;
  text-transform: uppercase;
  font-size: 78px;
  font-weight: lighter;
}

.hero-label {
  color: white;
  font-weight: 100;
  font-family: 'Roboto';
  letter-spacing: 0.2em;
  transform: scale(1, 0.9);
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.2em;
}

.hero-under {
  font-size: 0.65em;
  color: white;
  letter-spacing: 0.4em;
  transform: scale(1, 0.7);
}

.hero-title .sub {
  font-size: 1em;
  color: white;
}